[Unit]
Description=Daily Configs user-level updates

[Timer]
OnCalendar=*-*-* 04:00 America/Los_Angeles
RandomizedDelaySec=30min
Persistent=true

[Install]
WantedBy=timers.target
