
# ===== Project / Instance =====
PROJECT=[PROJECT_NAME]
INSTANCE=od18a


# ===== Versions =====
ODOO_VERSION=18.0
POSTGRES_VERSION=16

# --- CREDENTIALS
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo_pass_change_me
ADMIN_PASSWORD=admin_master_key_change_me

# --- LOCALE / DOMAIN
TZ=America/Los_Angeles
DOMAIN=odoo.local

# --- PATHS
PGDATA_DIR=/home/[data_base_directory]  #change_me
PGDUMP_DIR=/home/[data_base_backup_dump_directory]
ODOO_DATA_DIR=/home/[odoo_data_directory]/${INSTANCE}
PGDATA_MEGA_REMOTE_PATH=/PG_Dumps/[Mega Folder Name]


# --- Ports
ODOO_HTTP_PORT=8069        # Web (http)
ODOO_LONGPOLL_PORT=8072    # longpolling (bus)
POSTGRES_HOST_PORT=5433    # host-port for this instance
