@-moz-document url-prefix("about:") {
  :root {
    color-scheme: dark !important;
    --in-content-page-color: #c1c8c8 !important;
    --in-content-text-color: #c1c8c8 !important;
    --in-content-deemphasized-text: #9faaaa !important;
    --in-content-page-background: #1f282c !important;
    --in-content-box-background: #243036 !important;
    --in-content-box-border-color: #334248 !important;
    --in-content-primary-button-background: #35515b !important;
    --in-content-primary-button-background-hover: #40616d !important;
  }

  body,
  p,
  span,
  label,
  description,
  li,
  td,
  th,
  div {
    color: #c1c8c8 !important;
  }
}
